@import "tailwindcss";

/* 定義 page 轉場的動畫效果 */
.page-enter-active,
.page-leave-active {
    transition: all 0.5s ease-out;
    /* 0.5秒的過渡 */
}

/* 離場狀態：稍微變透明並往左移 */
.page-leave-to {
    opacity: 0;
    transform: scale(0.95);
    /* 稍微縮小看起來更有層次感 */
    filter: blur(10px);
}

/* 進場狀態：從透明、稍微放大變回原狀 */
.page-enter-from {
    opacity: 0;
    transform: scale(1.05);
    filter: blur(10px);
}

.button-bounce {
    animation: bounce 0.5s ease-in-out infinite;
}

.rotate-fade-in {
    animation: rotate-fade-in 1s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 0.5s ease-in-out 3s forwards;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out 4s forwards;
}

.float-up {
    animation: float-up 5s linear infinite;
}

.slide-up {
    animation: slide-up 6s ease-in-out forwards;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5px);
    }
}

@keyframes rotate-fade-in {
    0% {
        transform: rotate(var(--deg, 90deg));
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float-up {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(-110vh);
    }
}

@keyframes slide-up {

    0%,
    80% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}